@if (this.estado === this.ESTADOS.EN_ESPERA_DE_DATOS){
    <div id="cargando">
        Estoy cargando los datos de la persona...
    </div>
}
@else if (this.estado === this.ESTADOS.DESELECCIONADO){
    <div id="persona" class="extendido">
        <img src="https://www.gravatar.com/avatar/192938392" alt="Avatar" id="foto"/>
        <div id="nombre">Felipe Ruiz</div>
        <div id="email">felipe.ruizcorreo.es</div>
        <div id="telefono">948783494</div>
    </div>
    
    <div id="persona" class="compacto">
        <img src="https://www.gravatar.com/avatar/192938392" alt="Avatar" id="foto"/>
        <div id="nombre">Felipe Ruiz</div>
    </div>
}



