@if (this.estado === this.ESTADOS.EN_ESPERA_DE_DATOS){
    <div id="cargando">
        Estoy cargando los datos de la persona...
    </div>
}
@else if (this.estado === this.ESTADOS.DESELECCIONADO || 
          this.estado === this.ESTADOS.SELECCIONADO){
        <div id="persona" 
            [ngClass]="{
                'extendido':    this.estaExtendido, 
                'compacto':     !this.estaExtendido, 
                'seleccionado': this.estado === this.ESTADOS.SELECCIONADO,
                'seleccionable': this.seleccionable
            }" 
            (click)="this.seleccionable && this.toogleSeleccionado()">
            <img [src]="this.datosPersona.foto" alt="Avatar" id="foto"/>
            <div id="nombre">{{this.datosPersona.nombre}}</div>
            @if (this.estaExtendido){
                <div id="email">{{this.datosPersona.email}}</div>
                <div id="telefono">{{this.datosPersona.telefono}}</div>
            }
            @if (this.isExtensible()){
                <button (click)="this.toogleModo();$event.stopPropagation();">bbb</button>
            }
        </div>
}
@else if (this.estado === this.ESTADOS.ERROR_CARGA_DATOS){
    <div id="cargando">
        {{this.errorEnCargaDatos}}
    </div>
}



